@import './constants.scss';

.Layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

html {
  overflow-y: scroll;
}

img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, a {
  color: $primary;
  text-decoration: none;
}

.button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  margin-left: 0;
  border-radius:10px;
  background-image: none;
  background-color: $primary;
  text-decoration: none;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:hover {
  cursor: pointer;
  color: white;
  filter: brightness(85%);
  text-decoration: none;
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.middle {
  display: flex;
  justify-content: center;
  .container {
    gap: 20px;
    justify-content: space-between;
  }
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  a {
    color: $accent;
    font-weight: bold;
    &:hover {
      color: $darkprimary;
    }
  }
  & > {
    img, a img {
      width: 100%;
      margin: 25px 0 25px 0;
    }
    p, ul {
      line-height: 1.6;
      margin: 0 0 20px 0;
      li {
        margin: 0 0 10px 0;
      }
    }
  }
}

.section-break-image {
  width: 125px;
  height: 125px;
  align-self: center;
}

.active {
  color: $accent;
}

.container {
  width: $content-width;
  display: flex;
  margin: 0 20px 0 20px;
}


@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

