@import './constants.scss';

.Layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

html {
  overflow-y: scroll;
}

img {
  height: auto;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, a {
  color: $primary;
  text-decoration: none;
}

h1 {
  background-color: yellow;
}

a:hover {
  text-decoration: none;
  color: rgb(68, 63, 63);
}

.button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: #4f7177;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px darkgrey;
  transition: transform 0.5s;
  &:hover {
    color: white;
    text-decoration: underline;
    transform: scale(0.95);
  }
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.middle {
  display: flex;
  justify-content: center;
  .container {
    gap: 20px;
    justify-content: space-between;
  }
}

main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  & > {
    img, a img {
      width: 100%;
      margin: 0 0 25px 0;
    }
    p, ul {
      line-height: 1.6;
      margin: 0 0 20px 0;
      li {
        margin: 0 0 10px 0;
      }
    }
  }
}

.section-break-image {
  width: 125px;
  height: 125px;
  align-self: center;
}

aside {
  flex-basis: 140px;
  a {
    display: block;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
        border-top-color: $midprimary;
        border-top-style: none;
        border-top-width: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $midprimary;
  }
  margin-top: 20px;
}

.active {
  color: $accent;
  background-color: yellow;
}

footer {
  text-align: center;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $darkprimary;
  color: lightgray;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    div a {
      margin: 10px;
      color: lightgray;
    }
  }
  img {
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
  }
}


.container {
  width: $content-width;
  display: flex;
  margin: 0 20px 0 20px;
}


@media screen and (max-width: 600px) {
  aside {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  fieldset {
    border-radius: 10px;
    label {
      font-weight: bold;
      margin: 0 0 8px 0;
    }
    input, textarea {
      height: 30px;
      border-radius: 10px;
      border: 1px solid lightgray;
    }
    display: flex;
    flex-direction: column;
    gap: 15px;
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.InfoCard {
  outline: 1px solid lightgray;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 200px;
  p {
    overflow-wrap: anywhere; 
  }
  margin: 10px;
  padding: 12px;
  color: rgb(88, 87, 87);
  &:hover {
    color: $darkprimary;
    background-color: lighten($lightprimary, 12);
    img {
      opacity: .8;
    }
  }
}

.homepage-hero {
  margin: 0;
}